.card{
    width: 15em;
    margin: 1em;

    padding: 1.5em 0;
    /* border: solid 1px #000; */
    border-radius: 5px;
    box-shadow: 5px 5px 5px #3e2c3a;    
    background-color: white;
}

.card img{
    margin: .5em auto;
}

.card:hover{
    transform:   scale(1.15);
    transition: transform 0.1s;
}
p{
    font-size: 1em;
    font-weight: 500;
    color: #000;
    margin: 0;
    padding: 0 2.5em;
    text-align: left;
}