.product{
    margin:2em auto;
    padding: 1em 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 1400px;
    /* background-color: rgba(112, 101, 101, 0.183); */
    /* border: solid 2px black; */
    overflow: hidden;

}