nav{
    height: 5em;
    background-color: rgba(28, 25, 25, 0.87);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 2em;
    margin: 0 1em;
    /* height: ; */
}

nav a:hover{
    transform: scale(1.1);
    transition: transform 0.3s;
}