.CI-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    padding: 1em;
    margin: 1em 4em;
    width: 40em;
    height: 13em;
    /* border-radius: 1em; */
    box-shadow: 5px 5px 5px #3e2c3a;
    align-items: center;
    margin: 2em auto;

}

.CI-card .second{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 0 2em; */
}

.CI-card img{
    margin: 0 1em;
    height: 13em;

}

.CI-card p{
    font-size: 2em;

}

.CI-card .buttons{
    display: flex;
    flex-direction: row;
 }

.CI-card .buttons button{
    margin: 0 1em;
    padding: .5em 1em;
    font-size: 1.5em;
    border: none;
    /* border-radius: 5px; */
    background-color: #36368b;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.CI-card .buttons input{
    width: 3em;
    padding: .5em;
    font-size: 1.5em;
    text-align: center;
    border: none;
    /* border-radius: 5px; */
    background-color: #36368b;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}


